h1{
	text-transform:uppercase;
	text-align:center;
	border: 3px solid black;
	color: black;
	font-size:40px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
	float: left;
	font-size: 40px;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	width: 280px;
}

p{
	text-align: center;
	font-size: 30px;
	color: black;
}

li a:hover {
    background-color: white;
}
body {
	 background: url("https://metrouk2.files.wordpress.com/2018/03/fortnite-supply-llama.jpg?w=748&h=391&crop=1");
	 background-position: right top;
	 background-attachment: fixed;
	 background-repeat: no-repeat;
	 background-size: cover;
}

.Llama{
	display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
	top: 250px;
	border-radius: 50%;
}